<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/standard.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <link href="bootstrap/bootstrap-icons-1.13.1/bootstrap-icons.min.css" rel="stylesheet">

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
    <script>
        function detectarAnchoDotNet(dotnetObj) {
            function checkSize() {
                dotnetObj.invokeMethodAsync('ActualizarIconMenu', window.innerWidth);
            }
            window.addEventListener('resize', checkSize);
            checkSize(); // llamada inicial
        }
    </script>
</body>

</html>
