
    <div style="text-align: center; margin-top: 50px;">
        <div>
            <img src="./images/NoAutorized.png" alt="Acceso no Autorizado" style="max-width:300px;max-height:300px" />
        </div>
        <h1 style="color: #ff4d4f;">¡Acceso no autorizado!</h1>
        <p>No tienes permisos para acceder a este formulario.</p>
    </div>

