@layout MainLayout
@rendermode InteractiveServer
@inject NavigationManager NM
@inject DialogService DialogService

@inject IRadzenMessages RadzenMessages
@inject ISHA256 SHA
@inject IGeneral GRAL
@inject IPasswordUtility PasswordUtility
@inject IAutenticationsServices AutenticationServices
@inject IAuthenticationController AuthenticationController
@inject IParametrosController ParametrosController

@inject IvUsuariosController vUsuariosController
@inject IUsuariosController UsuariosController


@if (isAuthenticated)
{
    <RadzenStack>
        <RadzenTemplateForm TItem="Usuarios" Data="@User" Submit="@OnSubmit">
            <div class="row">
                <div class="rz-p-12 rz-text-align-center">
                    <RadzenPassword @bind-Value=@PasswordNewString Placeholder="Ingrese una contraseña..." aria-label="Ingrese una contraseña" Style="width: 100%" />
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6">
                    <RadzenButton Text="Cancelar" Click="CloseDialog" ButtonStyle="ButtonStyle.Secondary" Icon="close" Style="width: 100%" />
                </div>
                <div class="col-6">
                    <RadzenButton Text="Guardar" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" Icon="save" Style="width: 100%" />
                </div>
            </div>
        </RadzenTemplateForm>
    </RadzenStack>
}
else
{
    if (!IsAuthorizedForm)
    {
        <NoAuthorized />
    }
    else
    {
        <div style="text-align: center; margin-top: 50px;">
            <h1>Validando Sesión...</h1>
            <div class="loading-spinner"></div>
        </div>
    }
}
<RadzenDialog />

@code {
    [Parameter] public Usuarios User { get; set; }
    public string? PasswordNewString { get; set; }
    private void CloseDialog()
    {
        DialogService.Close(false);
    }

    private void OnSubmit()
    {
        if (!(string.IsNullOrEmpty(PasswordNewString) || string.IsNullOrWhiteSpace(PasswordNewString)))
        {
            User.Password = SHA.Sha256(PasswordNewString);
            DialogService.Close(true);
            return;
        }
        RadzenMessages.ShowAlert(DialogService, "La contraseña no puede ser vacia", eIcon.error);
    }
}

<!-- #Seguridad -->
    @code {
    public bool Insert { get; set; }
    public bool Update { get; set; }
    public bool Delete { get; set; }
    private byte IdFormulario = (byte)eFormularios.Usuarios;//Cambiar formulario según Corresponda
    private bool isAuthenticated = false;
    private bool isRefreshing = false;
    private bool IsAuthorizedForm = true;
    private List<vPermisosUsuario> VPermisosUsuario = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || !isAuthenticated)
        {
            await RefreshAuthenticationState();
        }
    }
    private async Task RefreshAuthenticationState()
    {
        if (!isRefreshing)
        {
            isRefreshing = true;
            try
            {
                isAuthenticated = await AutenticationServices.IsAuthenticated();

                if (isAuthenticated)
                {
                    await AutenticationServices.ExtendSession();
                    var result = await AutenticationServices.GetAuthenticated();
                    IsAuthorizedForm = await AuthenticationController.AutorizedForm(IdFormulario, result.IdUsuario);
                    isAuthenticated = IsAuthorizedForm;
                    VPermisosUsuario = await AuthenticationController.GetPermisosUsuario(result.IdUsuario, IdFormulario);
                    UploadPermission();
                    StateHasChanged();
                }
                else
                {
                    await ShowLogin();
                }
            }
            finally
            {
                isRefreshing = false;
            }
        }
    }
    public string Login { get; set; } = string.Empty;
    public string Password { get; set; } = string.Empty;
    private async Task ShowLogin()
    {
        var parameter = new Dictionary<string, object>();
        //parameter.Add("Id", Id);
        //parameter["type"] = type;

        var dialogOption = new DialogOptions();
        dialogOption.ShowClose = false;
        dialogOption.CloseDialogOnEsc = false;
        dialogOption.CloseDialogOnOverlayClick = false;
        dialogOption.Resizable = false;
        dialogOption.ShowTitle = true;

        await DialogService.OpenAsync<SessionExpired.LoginRequired>("INICIAR SESIÓN", parameter, dialogOption);
        StateHasChanged();
    }

    private void UploadPermission()
    {
        Insert = VPermisosUsuario.Where(a => a.IdPermiso == (byte)ePermiso.Agregar).Count() > 0;
        Update = VPermisosUsuario.Where(a => a.IdPermiso == (byte)ePermiso.Actualizar).Count() > 0;
        Delete = VPermisosUsuario.Where(a => a.IdPermiso == (byte)ePermiso.Anular).Count() > 0;
    }
    }
<!-- #endregion -->