@page "/PrestamosFormulario"
@layout MainLayout
@rendermode InteractiveServer
@inject NavigationManager NM
@inject DialogService DialogService

@inject IRadzenMessages RadzenMessages
@inject ISHA256 SHA
@inject IGeneral GRAL
@inject IPasswordUtility PasswordUtility
@inject IAutenticationsServices AutenticationServices
@inject IAuthenticationController AuthenticationController

@inject IvUsuariosController vUsuariosController
@inject IUsuariosController UsuariosController
@inject IPrestamosController PrestamosController


<style>
    .titulo-azul {
        color: darkblue !important;
        text-align: center;
    }
</style>


@if (isAuthenticated)
{

    <h2 class="titulo-azul">ADMINISTRACIÓN DE PRESTAMOS</h2>

    <RadzenDataGrid Data="PrestamosData"
                    TItem="vPrestamos"
                    AllowFiltering="true"
                    AllowPaging="true"
                    AllowSorting="true"
                    AllowColumnResize="true"
                    ColumnWidth="150px"
                    Density="Density.Default"
                    PageSize="10"
                    Responsive="true"
                    EditMode="DataGridEditMode.Single"
                    EmptyText="Sin registros para mostrar"
                    ShowPagingSummary="true"
                    PageSizeOptions=@PageSizeOptions
                    PagingSummaryFormat=@PagingSummaryFormat
                    PageSizeText="Registros por página"
                    ClearFilterText="Borrar"
                    ApplyFilterText="Aplicar"
                    FilterText="Filtro"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    FilterMode="FilterMode.Simple">

        <HeaderTemplate>
            <RadzenButton ButtonStyle="ButtonStyle.Success"
                          Disabled="!(Insert)"
                          Icon="add_circle"
                          Text="Agregar"
                          Click="@(() => NM.NavigateTo("/Prestamos/nuevo"))" />
        </HeaderTemplate>

        <Columns>
            <RadzenDataGridColumn Property="@nameof(vPrestamos.PrestamoId)" Title="ID" Visible=false SortOrder="SortOrder.Descending" />

            <RadzenDataGridColumn TItem="vPrestamos" Property="CodigoBarra" Title="Codigo barra" />
            <RadzenDataGridColumn TItem="vPrestamos" Property="ISBN" Title="ISBN" />
            <RadzenDataGridColumn TItem="vPrestamos" Property="TituloLibro" Title="Título" />
            <RadzenDataGridColumn TItem="vPrestamos" Property="Socio" Title="Socio" />
            <RadzenDataGridColumn TItem="vPrestamos" Property="Telefono" Title="Telefono" />
            <RadzenDataGridColumn TItem="vPrestamos" Property="FechaSalida" Title="Fecha Salida" />
            <RadzenDataGridColumn TItem="vPrestamos" Property="FechaVencimiento" Title="Vencimiento" />

            <RadzenDataGridColumn TItem="vPrestamos" Title="Acciones" Width="200px" Frozen="true" FrozenPosition="FrozenColumnPosition.Left">
                <Template Context="Prestamos">
                    <RadzenButton Text=""
                                  Icon="edit"
                                  Size="ButtonSize.Small"
                                  ButtonStyle="ButtonStyle.Primary"
                                  Disabled="!(Update)"
                                  Click="@(a => NM.NavigateTo($"/Prestamos/{Prestamos.PrestamoId}"))"
                                  @onclick:stopPropagation="true"
                                  Style="margin-right: 5px;" />

                    <RadzenButton Text=""
                                  Icon="delete"
                                  Size="ButtonSize.Small"
                                  ButtonStyle="ButtonStyle.Danger"
                                  Disabled="!(Delete)"
                                  Click="@(async () => await BorrarPrestamo(Prestamos))"
                                  @onclick:stopPropagation="true" />

                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}
else
{
    if (!IsAuthorizedForm)
    {
        <NoAuthorized />
    }
    else
    {
        <div style="text-align: center; margin-top: 50px;">
            <h1>Validando Sesión...</h1>
            <div class="loading-spinner"></div>
        </div>
    }
}
<RadzenDialog />


@code {

    private List<vPrestamos> PrestamosData = new();
    protected IEnumerable<int> PageSizeOptions { get; set; } = new[] { 2, 5, 10, 100 };
    protected string PagingSummaryFormat { get; set; } = "Página {0} de {1} (Total {2} Registros)";

    protected override async Task OnInitializedAsync()
    {
        await LoadGrid();
    }
    private async Task LoadGrid()
    {
        PrestamosData = await PrestamosController.vPrestamosActivosLista();
        StateHasChanged();
    }

    private async Task BorrarPrestamo(vPrestamos Prestamos)
    {
        var confirm = await RadzenMessages.ConfirmAsync(
            DialogService,
            "¿Está seguro de eliminar este prestamo?",
            "Confirmación"
        );

        if (confirm != true)
        {
            await RadzenMessages.ShowAlert(DialogService, "Operación cancelada.", eIcon.info);
            return;
        }

        await RefreshAuthenticationState();
        var user = await AutenticationServices.GetAuthenticated();
        if (user == null || user.IdUsuario <= 0)
        {
            await RadzenMessages.ShowAlert(DialogService, "Sesión no válida. Inicie sesión nuevamente.", eIcon.error);
            return;
        }

        var entidad = await PrestamosController.Registro(Prestamos.PrestamoId);
        entidad.UsuarioActualiza = user.IdUsuario;
        entidad.FechaActualizacion = DateTime.Now;

        bool resultado = await PrestamosController.Anular(entidad);

        if (!resultado)
        {
            await RadzenMessages.ShowAlert(DialogService, "No se pudo eliminar el prestamo.", eIcon.error);
            return;
        }

        await RadzenMessages.ShowAlert(DialogService, "prestamo eliminado correctamente.", eIcon.success);
        await LoadGrid();
    }

}

<!-- #Seguridad -->
@code {
    public bool Insert { get; set; }
    public bool Update { get; set; }
    public bool Delete { get; set; }
    private byte IdFormulario = (byte)eFormularios.PrestamosFormulario;//Cambiar formulario según Corresponda
    private bool isAuthenticated = false;
    private bool isRefreshing = false;
    private bool IsAuthorizedForm = true;
    private List<vPermisosUsuario> VPermisosUsuario = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || !isAuthenticated)
        {
            await RefreshAuthenticationState();
        }
    }
    private async Task RefreshAuthenticationState()
    {
        if (!isRefreshing)
        {
            isRefreshing = true;
            try
            {
                isAuthenticated = await AutenticationServices.IsAuthenticated();

                if (isAuthenticated)
                {
                    await AutenticationServices.ExtendSession();
                    var result = await AutenticationServices.GetAuthenticated();
                    IsAuthorizedForm = await AuthenticationController.AutorizedForm(IdFormulario, result.IdUsuario);
                    isAuthenticated = IsAuthorizedForm;
                    VPermisosUsuario = await AuthenticationController.GetPermisosUsuario(result.IdUsuario, IdFormulario);
                    UploadPermission();
                    StateHasChanged();
                }
                else
                {
                    await ShowLogin();
                }
            }
            finally
            {
                isRefreshing = false;
            }
        }
    }
    public string Login { get; set; } = string.Empty;
    public string Password { get; set; } = string.Empty;
    private async Task ShowLogin()
    {
        var parameter = new Dictionary<string, object>();
        //parameter.Add("Id", Id);
        //parameter["type"] = type;

        var dialogOption = new DialogOptions();
        dialogOption.ShowClose = false;
        dialogOption.CloseDialogOnEsc = false;
        dialogOption.CloseDialogOnOverlayClick = false;
        dialogOption.Resizable = false;
        dialogOption.ShowTitle = true;

        await DialogService.OpenAsync<SessionExpired.LoginRequired>("INICIAR SESIÓN", parameter, dialogOption);
        StateHasChanged();
    }

    private void UploadPermission()
    {
        Insert = VPermisosUsuario.Where(a => a.IdPermiso == (byte)ePermiso.Agregar).Count() > 0;
        Update = VPermisosUsuario.Where(a => a.IdPermiso == (byte)ePermiso.Actualizar).Count() > 0;
        Delete = VPermisosUsuario.Where(a => a.IdPermiso == (byte)ePermiso.Anular).Count() > 0;
    }
}
<!-- #endregion -->